.jobCard{
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 20px black;
  border-radius: 5px;
  border: 2px solid slategrey;
  display: inline-block;
  justify-content: space-between;
  transition: transform 200ms ease-in;
  background-color: white;
  padding: 25px;
  width: 20vw;
  display: grid;
  grid-template-columns: auto auto;
}

.jobCard:hover {
  transform: scale(1.01);
}

.cardTitle.cardText{
  padding: 0.5rem;
  display: grid;
}

.cardTitle1.cardText1{
  padding: 0.5rem;
  display: grid;
}

.pageTitle{
  padding-top: 40px;
  padding-bottom: 10px;
}

.jobCards{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-column-start: left;
}

.wrapper {
  margin-top: 40px;
  gap: 2rem;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.adminLogo {
  display: inline-block;
  vertical-align: top;
  margin-left: -40%;
  margin-top: 5px;
  color: rgb(236, 205, 26);
  cursor: pointer;
  padding-left: 100px;
}