.welcome {
    border: black 2px solid;
    font-size: 60px ;
    color: gold;
}


/* h1 {
    font-size: 60px ;
    color: gold;
} */

/* p {
    font-size: 20px;
    color: goldenrod;
} */
/* 
.devbutton {
    width: 100%;
    border: black 2px solid;
} */