* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #396eb0;
}

.page-title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 30px;
  padding-bottom: 25px;
  color: rgb(236, 205, 26);
}

.wrapper {
  margin-top: 40px;
  gap: 2rem;
  justify-content: center;
}

.centre-section {
  margin: 0 auto;
  position: relative;
  padding: 10vh 18vw;
}

.applied-jobs {
  min-height: 30vh;
  padding: 20px 0 20px 0;
}

.job-card {
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 20px black;
  border-radius: 5px;
  border: 2px solid slategrey;
  display: inline-block;
  justify-content: space-between;
  transition: transform 200ms ease-in;
  background-color: white;
  padding: 25px;
  width: 60vw;
}

.card-text .card-title {
  padding: 0.5rem;
}

.card-btn {
  padding: 0.5rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  border: 2px solid dodgerblue;
  background: transparent;
  color: dodgerblue;
  border-radius: 5px;
  cursor: pointer;
  transition: background 200ms ease-in, color 200ms ease-in;
  float: right;
}

.job-card:hover {
  transform: scale(1.01);
}

.card-btn:hover {
  background: dodgerblue;
  color: white;
}


/*Navbar styling*/
.navbar {
  background-color: #2e4c6d;
  position: relative;
  height: 73px;
  width: 100%;
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  box-shadow: 0 0 15px black;
  z-index: 10;
  
}

.navbar li {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
  line-height: 50px;
  float: right;
  color: gold;
  cursor: pointer;
  text-align: center;
}

.navbar li:hover {
  border-bottom: goldenrod solid 3px;
}
  
/*Modal styling*/
.modal-container {
  position: absolute;
  margin-left: 16%;
  margin-top: 5%;
  width: 60vw;
  height: 62vh;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  justify-content: center;
  line-height: 30px;
}

.update-form {
  justify-content: center;
  align-items: left;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
}

.delete-section {
  padding-top: 30px;
}

.update-btn {
  padding: 0.3rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  border: 2px solid dodgerblue;
  background: transparent;
  color: dodgerblue;
  border-radius: 5px;
  cursor: pointer;
  transition: background 200ms ease-in, color 200ms ease-in;
  width: 400px;
  margin-top: 20px;
}

.update-btn:hover {
  background: dodgerblue;
  color: white;
}

.close-btn {
  position: absolute;
  margin-left: 24.3%;
  padding: 0.3rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  border: 2px solid dodgerblue;
  background: transparent;
  color: dodgerblue;
  border-radius: 5px;
  cursor: pointer;
  transition: background 200ms ease-in, color 200ms ease-in;
  width: 400px;
}

.close-btn:hover {
  background: dodgerblue;
  color: white;
}

/*Setting section*/
.settings-section {
  position: relative;
  width: 800px;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 15px;
  text-align: center;
  padding: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.settings-btn {
  padding: 0.3rem;
  margin-top: 30px;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  border: 2px solid dodgerblue;
  background: transparent;
  color: dodgerblue;
  border-radius: 5px;
  cursor: pointer;
  transition: background 200ms ease-in, color 200ms ease-in;
  width: 200px;
}

.settings-btn:hover {
  background: dodgerblue;
  color: white;
}

input {
  padding: 0.3rem;
  width: 400px;
}


