* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background: #396eb0;
  }
  
  .page-title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
    padding-bottom: 25px;
    color: rgb(236, 205, 26);
    text-shadow: 0px 5px 5px black;
  }
  
  .wrapper {
    margin-top: 40px;
    gap: 2rem;
    justify-content: center;
  }
  
  .centre-section {
    margin: 0 auto;
    position: relative;
    padding: 10vh 18vw;
  }
  
  .job-card {
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 20px black;
    border-radius: 5px;
    border: 2px solid slategrey;
    display: inline-block;
    justify-content: space-between;
    transition: transform 200ms ease-in;
    background-color: white;
    padding: 25px;
    width: 60vw;
  }
  
  .card-text .card-title {
    padding: 0.5rem;
  }
  
  .card-btn {
    padding: 0.5rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid dodgerblue;
    background: transparent;
    color: dodgerblue;
    border-radius: 5px;
    cursor: pointer;
    transition: background 200ms ease-in, color 200ms ease-in;
    float: right;
  }
  
  .job-card:hover {
    transform: scale(1.01);
  }
  
  .card-btn:hover {
    background: dodgerblue;
    color: white;
  }
  
  .navbar {
    background-color: #2e4c6d;
    position: relative;
    height: 73px;
    width: 100%;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    box-shadow: 0 0 15px black;
    z-index: 10;
  }
  
  .logo {
    display: inline-block;
    vertical-align: top;
    margin-left: -30%;
    margin-top: 5px;
    color: rgb(236, 205, 26);
    cursor: pointer;
    padding-left: 100px;
    font-size: 30px;
  }

  .navbar li {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    line-height: 50px;
    float: right;
    color: gold;
    cursor: pointer;
    text-align: center;
  }
  
  .navbar li:hover {
    border-bottom: goldenrod solid 3px;
  }
  
